@import '../main-styles.scss';
/*
.container {
    max-width: 500px;
    height: 200px;
    margin: 20px auto;
    //overflow: auto;
    //min-height: 300px;
    border: 1px solid $purple-dark;
    background: linear-gradient(35deg, $purple-dark, $purple-light);
    padding: 15px;
    color: $yellow;
  }*/